@import url(font.css);
/*html {*/
/*    font: 400 15px shabnam;*/
/*}*/
body {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    background: #000;
    /*font-family: shabnam, Arial, serif;*/
}

.glow-on-hover {
    /*width: 220px;*/
    width: 150px;
    height: 38px;
    border: none;
    outline: none;
    color: #22f5ff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
    /*margin-left: 60px;*/
    /*font: 400 15px Arial;*/
    font-family: shabnam, Arial, serif;
    font-size: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000,
    #ff7300, #fffb00, #48ff00, #00ffd5,
    #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

._main_title {
    width: 220px
}

.base-holder-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-title {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.page-title h1 {
    text-align: center;
    color: white
}

._title_h1 {
    color: white;
}

._title_div {
    /*width: 90%;*/
    width: 90%;
    border-bottom: outset red;
    color: white;
    text-align: center;
    margin: auto;
}

._urls_div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

._head_div {
    height: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . ."
    ". . . . . . .";
}


html, body, .container {
    height: 100%;
    margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
    border: 1px solid #00802d;
    position: relative;
}

.container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

